@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  input[type='text'] {
    @apply w-[100%] p-[0.625rem] box-border
     my-[6px] mx-0 bg-[#4B0082] 
     text-[#fff] border-none rounded-md;
    }
    
    input[type='submit']{
    @apply my-[0.625rem] mx-auto bg-[#9370DB]
     border-none rounded-xl py-[6px] px-[2.5rem]
     block text-[#F5F6F7] hover:bg-[#4B0082]
    };
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #8A2BE2;
  }
};

.book-list li:hover{
  opacity: 0.7;
  text-decoration: line-through;
} 






/* ******************************************************************************************************************************************************************** */
/* .App{
  background: #0081AC;
  margin: 20px auto;
  width: 90%;
  max-width: 700px;
  color: #eee;
  border-radius: 2em;
} */
/* .navbar{
  padding: 10px 20px;
  text-align: center;
  background: #0094C6;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}
.navbar h1{
  margin: 10px 0;
} */



/* .book-list{
  margin: 20px;
} */
/* .book-list ul{
  padding: 0;
  list-style-type: none;
} */
/* .book-list li{
  background: #0094C6;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
}*/
/* .book-list .title{
  font-weight: bold;
  color: #fff;
  font-size: 1.2em;
}
.book-list .author{
  font-size: 0.9em;
  color: #ddd;
} */
/* .empty{
  margin: 20px;
  text-align: center;
} */


/*FORM CSS*/
/* form{
  padding: 20px;
} */
/* input[type='text']{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 6px 0;
  background: #004258;
  color: #fff;
  border: 0;
  border-radius: .5em;
} */
/* input[type='submit']{
  margin: 10px auto;
  background: #89D4EC;
  border: 0;
  border-radius: 1em;
  padding: 6px 40px;
  display: block;
  color: #F5F6F7;
}
input[type='submit']:hover {
  background: #004258;
} */
